#CanvasHolder {
  position: fixed;
}

body {
background-color: black;

}

canvas {
  width: 99vw;
  height: 99vh;
  z-index: -99; 
}

//USED TO SPACE ELEMENTS OUT ON A PACE
.BlankPage {
  height: 100vh;
  display: flex;
  width: 99vh;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.BlankHalfPage {
  height: 50vh;
  display: flex;
  width: 99vh;
  justify-content: center;
  align-items: center;
}

//STYLING FOR THE MAIN BODY OF THE PAGE
.TextContent {
  width: 98vw;
  height: 700vh;
  z-index: 99;
  position: absolute;
  margin: auto;
  color: white;
  opacity: 0.85;
}

//Stlying for the text content
.MainColumn {
  margin: auto;
  max-width: 1200px;
  padding: 15px;

}

.introduction-section {
  
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 

  .intro-cont {
      width: 475px;
      height: 175px;
      background-color: black;
      border-radius: 20px;
      border: 1px solid white;

  }
}

 //CSS for the about me section
.AboutPage {
  margin:auto;
  background-color: black;
  border-radius: 20px;
  border: 1px solid white;
  padding: 10px


}

//css for skills title 3d section
.SkillsTitle {
  white-space: nowrap; 
  width: 100%;
  background-color: black;
  border-radius: 5px;
  border: 1px solid white;
  padding: 2px;
  color:white;
  
}




//css for the featured projects section
.PicContainer {
  position: relative;
}

.PicContainer img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.PicContainer:hover .OverLay {
  opacity: 0.5;
}

.OverLay {
  border-radius: 10px;
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(148, 142, 142);
  transition: 1s;
}



.FeaturedCollectionParent {
  margin: auto;
 
  background-color: black;
  border-radius: 20px;
  border: 1px solid white;
  padding: 10px;

}

.FeaturedProjectHeader {
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 3px;
}

//css for the blockquote text
.End {
  background-color: white;
  color:black;
  display: inline-block;
  border-radius: 10px;
  padding: 5px;
 
}



/*GENERIC CLASSES FOR ALIGNING TEXT*/
.TextRight {
  text-align: right;
}

.TextLeft {
  text-align: left;
}


/*SCROLL BAR CSS */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}