#root{
  height: 100vh;
}


.GridParent {
  height: 100vh;
}

/* CSS for spinning apple logo*/
.AppleLogo {
  display: inline-block;
  width: 70px;
  height: 150px;
  position: relative;
  top: 30px;
}


/* CSS for banners (shinny, sleek ect...)*/
@mixin Banner  {
  font-size: 75px;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: transparent;
}

.Banner {
  @include Banner;
  transform: rotate(270deg);
  z-index: -99;
}

.CanvasBanner {
  @include Banner;
  position: absolute;
  bottom: 20px;
  text-align:right; 

}

.CanvasBanner2 {
  @include Banner;
  position: absolute;
  bottom: 120px;
  right: 10px;
  text-align:right; 
  transform: rotate(270deg);

}

 

/*CSS for 3d IPOD and roatating apple*/
canvas {
  z-index: 99;
  width: 100%;
  height: 70vh;

}
